In [ ]:
from google.colab import drive

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=b919f068a9b9859b35c9075d50e3ab578bb43e5ee3f1303b3ad9fff09d81bf01
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName("Assignment_carsales").getOrCreate()

In [4]:
spark

Import and Read Data file

In [5]:
df = spark.read.csv('/content/Car_sales.csv',sep=',', inferSchema = True, header=True)

Display Schema

In [6]:
df.printSchema()

root
 |-- Manufacturer: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Sales_in_thousands: double (nullable = true)
 |-- __year_resale_value: double (nullable = true)
 |-- Vehicle_type: string (nullable = true)
 |-- Price_in_thousands: double (nullable = true)
 |-- Engine_size: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Wheelbase: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- Length: double (nullable = true)
 |-- Curb_weight: double (nullable = true)
 |-- Fuel_capacity: double (nullable = true)
 |-- Fuel_efficiency: integer (nullable = true)
 |-- Latest_Launch: string (nullable = true)
 |-- Power_perf_factor: double (nullable = true)

Find DataType of PySpark DataFrame

In [7]:
print(type(df))

<class 'pyspark.sql.dataframe.DataFrame'>

Display Sample Rows from data file

In [8]:
df.show(20)

+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|Manufacturer|      Model|Sales_in_thousands|__year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|
+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|       Acura|    Integra|            16.919|              16.36|   Passenger|              21.5|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|
|       Acura|         TL|            39.384|             19.875|   Passenger|              28.4|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|
|       Acura|         CL|            14.114|             18.225|   Passenger|              NULL|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             NULL|
|       Acura|         RL|             8.588|             29.725|   Passenger|              42.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|
|        Audi|         A4|            20.397|             22.255|   Passenger|             23.99|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|
|        Audi|         A6|             18.78|             23.555|   Passenger|             33.95|        2.8|       200|    108.7| 76.1| 192.0|      3.561|         18.5|             22|     8/9/2011|      84.56510502|
|        Audi|         A8|              1.38|               39.0|   Passenger|              62.0|        4.2|       310|    113.0| 74.0| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|
|         BMW|       323i|            19.747|               NULL|   Passenger|             26.99|        2.5|       170|    107.3| 68.4| 176.0|      3.179|         16.6|             26|    6/28/2011|      71.19120671|
|         BMW|       328i|             9.231|             28.675|   Passenger|              33.4|        2.8|       193|    107.3| 68.5| 176.0|      3.197|         16.6|             24|    1/29/2012|      81.87706856|
|         BMW|       528i|            17.527|             36.125|   Passenger|              38.9|        2.8|       193|    111.4| 70.9| 188.0|      3.472|         18.5|             25|     4/4/2011|       83.9987238|
|       Buick|    Century|            91.561|             12.475|   Passenger|            21.975|        3.1|       175|    109.0| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|
|       Buick|      Regal|             39.35|              13.74|   Passenger|              25.3|        3.8|       240|    109.0| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|
|       Buick|Park Avenue|            27.851|              20.19|   Passenger|            31.965|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|
|       Buick|    LeSabre|            83.257|              13.36|   Passenger|            27.885|        3.8|       205|    112.2| 73.5| 200.0|      3.591|         17.5|             25|    7/23/2011|      84.25452581|
|    Cadillac|    DeVille|            63.729|             22.525|   Passenger|            39.895|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|
|    Cadillac|    Seville|            15.943|               27.1|   Passenger|            44.475|        4.6|       275|    112.2| 75.0| 201.0|       NULL|         18.5|             22|    4/29/2011|      115.6213578|
|    Cadillac|   Eldorado|             6.536|             25.725|   Passenger|            39.665|        4.6|       275|    108.0| 75.5| 200.6|      3.843|         19.0|             22|   11/27/2011|      113.7658739|
|    Cadillac|     Catera|            11.185|             18.225|   Passenger|             31.01|        3.0|       200|    107.4| 70.3| 194.8|       3.77|         18.0|             22|    9/28/2011|      83.48309358|
|    Cadillac|   Escalade|            14.785|               NULL|         Car|            46.225|        5.7|       255|    117.5| 77.0| 201.2|      5.572|         30.0|             15|    4/17/2012|      109.5091165|
|   Chevrolet|   Cavalier|           145.519|               9.25|   Passenger|             13.26|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|
+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
only showing top 20 rows

Count total number of records

In [9]:
df.count()

157

Display a subset of selected columns

In [10]:
df.select('Manufacturer','Model','Sales_in_thousands').show(10)

+------------+-------+------------------+
|Manufacturer|  Model|Sales_in_thousands|
+------------+-------+------------------+
|       Acura|Integra|            16.919|
|       Acura|     TL|            39.384|
|       Acura|     CL|            14.114|
|       Acura|     RL|             8.588|
|        Audi|     A4|            20.397|
|        Audi|     A6|             18.78|
|        Audi|     A8|              1.38|
|         BMW|   323i|            19.747|
|         BMW|   328i|             9.231|
|         BMW|   528i|            17.527|
+------------+-------+------------------+
only showing top 10 rows

Order By selected column

In [11]:
df.orderBy('Manufacturer').show()

+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|Manufacturer|      Model|Sales_in_thousands|__year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|
+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|       Acura|    Integra|            16.919|              16.36|   Passenger|              21.5|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|
|       Acura|         TL|            39.384|             19.875|   Passenger|              28.4|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|
|       Acura|         CL|            14.114|             18.225|   Passenger|              NULL|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             NULL|
|       Acura|         RL|             8.588|             29.725|   Passenger|              42.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|
|        Audi|         A4|            20.397|             22.255|   Passenger|             23.99|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|
|        Audi|         A6|             18.78|             23.555|   Passenger|             33.95|        2.8|       200|    108.7| 76.1| 192.0|      3.561|         18.5|             22|     8/9/2011|      84.56510502|
|        Audi|         A8|              1.38|               39.0|   Passenger|              62.0|        4.2|       310|    113.0| 74.0| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|
|         BMW|       323i|            19.747|               NULL|   Passenger|             26.99|        2.5|       170|    107.3| 68.4| 176.0|      3.179|         16.6|             26|    6/28/2011|      71.19120671|
|         BMW|       328i|             9.231|             28.675|   Passenger|              33.4|        2.8|       193|    107.3| 68.5| 176.0|      3.197|         16.6|             24|    1/29/2012|      81.87706856|
|         BMW|       528i|            17.527|             36.125|   Passenger|              38.9|        2.8|       193|    111.4| 70.9| 188.0|      3.472|         18.5|             25|     4/4/2011|       83.9987238|
|       Buick|    Century|            91.561|             12.475|   Passenger|            21.975|        3.1|       175|    109.0| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|
|       Buick|      Regal|             39.35|              13.74|   Passenger|              25.3|        3.8|       240|    109.0| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|
|       Buick|Park Avenue|            27.851|              20.19|   Passenger|            31.965|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|
|       Buick|    LeSabre|            83.257|              13.36|   Passenger|            27.885|        3.8|       205|    112.2| 73.5| 200.0|      3.591|         17.5|             25|    7/23/2011|      84.25452581|
|    Cadillac|    DeVille|            63.729|             22.525|   Passenger|            39.895|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|
|    Cadillac|    Seville|            15.943|               27.1|   Passenger|            44.475|        4.6|       275|    112.2| 75.0| 201.0|       NULL|         18.5|             22|    4/29/2011|      115.6213578|
|    Cadillac|   Eldorado|             6.536|             25.725|   Passenger|            39.665|        4.6|       275|    108.0| 75.5| 200.6|      3.843|         19.0|             22|   11/27/2011|      113.7658739|
|    Cadillac|     Catera|            11.185|             18.225|   Passenger|             31.01|        3.0|       200|    107.4| 70.3| 194.8|       3.77|         18.0|             22|    9/28/2011|      83.48309358|
|    Cadillac|   Escalade|            14.785|               NULL|         Car|            46.225|        5.7|       255|    117.5| 77.0| 201.2|      5.572|         30.0|             15|    4/17/2012|      109.5091165|
|   Chevrolet|   Cavalier|           145.519|               9.25|   Passenger|             13.26|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|
+------------+-----------+------------------+-------------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
only showing top 20 rows

Change Data Types of Columns

In [12]:
df1 = df.withColumn("Sales_in_thousands",df['Sales_in_thousands'].cast("String"))
df1.printSchema()

root
 |-- Manufacturer: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Sales_in_thousands: string (nullable = true)
 |-- __year_resale_value: double (nullable = true)
 |-- Vehicle_type: string (nullable = true)
 |-- Price_in_thousands: double (nullable = true)
 |-- Engine_size: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Wheelbase: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- Length: double (nullable = true)
 |-- Curb_weight: double (nullable = true)
 |-- Fuel_capacity: double (nullable = true)
 |-- Fuel_efficiency: integer (nullable = true)
 |-- Latest_Launch: string (nullable = true)
 |-- Power_perf_factor: double (nullable = true)

Group By Column - Minimum Value

In [14]:
from pyspark.sql.functions import min
Provider_id_min = df.groupBy("Manufacturer").agg(min("Sales_in_thousands"))
Provider_id_min.show()

+------------+-----------------------+
|Manufacturer|min(Sales_in_thousands)|
+------------+-----------------------+
|  Volkswagen|                  5.596|
|  Oldsmobile|                  1.112|
|    Infiniti|                 23.713|
|       Lexus|                  3.334|
|      Jaguar|                 15.467|
|      Saturn|                  5.223|
|        Jeep|                 55.557|
|  Mitsubishi|                   0.11|
|   Chevrolet|                 17.947|
|       Volvo|                  3.493|
|     Hyundai|                  29.45|
|        Saab|                  9.191|
|       Honda|                 12.855|
|        Audi|                   1.38|
|    Cadillac|                  6.536|
|    Plymouth|                  1.872|
|     Pontiac|                 19.911|
|     Mercury|                 14.351|
|    Chrysler|                  7.854|
|     Lincoln|                 13.798|
+------------+-----------------------+
only showing top 20 rows

Group By Column - Average Value

In [15]:
from pyspark.sql.functions import avg
Provider_id = df1.groupBy("Manufacturer").agg(avg("Sales_in_thousands"))
Provider_id.show()

+------------+-----------------------+
|Manufacturer|avg(Sales_in_thousands)|
+------------+-----------------------+
|  Volkswagen|      34.86866666666666|
|  Oldsmobile|     29.831499999999995|
|    Infiniti|                 23.713|
|       Lexus|     17.807166666666664|
|      Jaguar|                 15.467|
|      Saturn|     33.769999999999996|
|        Jeep|      97.71766666666667|
|  Mitsubishi|     25.842142857142854|
|   Chevrolet|     61.596111111111114|
|       Volvo|     12.623333333333335|
|     Hyundai|      45.77533333333333|
|        Saab|                 10.653|
|       Honda|     118.53479999999999|
|        Audi|                 13.519|
|    Cadillac|                22.4356|
|    Plymouth|               16.00025|
|     Pontiac|      61.75566666666668|
|     Mercury|     39.666500000000006|
|    Chrysler|     28.817285714285713|
|     Lincoln|     28.544666666666668|
+------------+-----------------------+
only showing top 20 rows

Distinct values for Categorical columns

In [16]:
df.select("Vehicle_type").distinct().show()

+------------+
|Vehicle_type|
+------------+
|         Car|
|   Passenger|
+------------+

Rename existing column

In [17]:
df =  df.withColumnRenamed('__year_resale_value', 'year_resale_value')
df.printSchema()

root
 |-- Manufacturer: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Sales_in_thousands: double (nullable = true)
 |-- year_resale_value: double (nullable = true)
 |-- Vehicle_type: string (nullable = true)
 |-- Price_in_thousands: double (nullable = true)
 |-- Engine_size: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Wheelbase: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- Length: double (nullable = true)
 |-- Curb_weight: double (nullable = true)
 |-- Fuel_capacity: double (nullable = true)
 |-- Fuel_efficiency: integer (nullable = true)
 |-- Latest_Launch: string (nullable = true)
 |-- Power_perf_factor: double (nullable = true)

 Statistics about values of various columns

In [18]:
df.describe().show()

+-------+------------+------+------------------+------------------+------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------+------------------+
|summary|Manufacturer| Model|Sales_in_thousands| year_resale_value|Vehicle_type|Price_in_thousands|       Engine_size|        Horsepower|         Wheelbase|             Width|            Length|       Curb_weight|     Fuel_capacity|   Fuel_efficiency|Latest_Launch| Power_perf_factor|
+-------+------------+------+------------------+------------------+------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------+------------------+
|  count|         157|   157|               157|               121|         157|               155|               156|               156|               156|               156|               156|               155|               156|               154|          157|               155|
|   mean|        NULL|  NULL| 52.99807643312102|18.072975206611574|        NULL| 27.39075483870966| 3.060897435897434|185.94871794871796|107.48717948717949| 71.14999999999996|187.34358974358977| 3.378025806451613|17.951923076923084|23.844155844155843|         NULL|  77.0435912007742|
| stddev|        NULL|  NULL| 68.02942199750512|11.453384099225003|        NULL|14.351653189238544|1.0446529732758285| 56.70032085837357| 7.641303029809967|3.4518718624593676|13.431754284516813|0.6305016344292964|3.8879212648646306| 4.282705561885177|         NULL|25.142664099182795|
|    min|       Acura| 3-Sep|              0.11|              5.16|         Car|             9.235|               1.0|                55|              92.6|              62.6|             149.4|             1.895|              10.3|                15|    1/14/2012|       23.27627233|
|    max|       Volvo|Xterra|           540.561|             67.55|   Passenger|              85.5|               8.0|               450|             138.7|              79.9|             224.5|             5.572|              32.0|                45|     9/3/2011|        188.144323|
+-------+------------+------+------------------+------------------+------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-------------+------------------+

Creating a New Column based on existing column

In [19]:
df = df.withColumn('Price_in_thousands', df.Price_in_thousands*1000)
df.show()

+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|Manufacturer|      Model|Sales_in_thousands|year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
|       Acura|    Integra|            16.919|            16.36|   Passenger|           21500.0|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|
|       Acura|         TL|            39.384|           19.875|   Passenger|           28400.0|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|
|       Acura|         CL|            14.114|           18.225|   Passenger|              NULL|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             NULL|
|       Acura|         RL|             8.588|           29.725|   Passenger|           42000.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|
|        Audi|         A4|            20.397|           22.255|   Passenger|           23990.0|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|
|        Audi|         A6|             18.78|           23.555|   Passenger|           33950.0|        2.8|       200|    108.7| 76.1| 192.0|      3.561|         18.5|             22|     8/9/2011|      84.56510502|
|        Audi|         A8|              1.38|             39.0|   Passenger|           62000.0|        4.2|       310|    113.0| 74.0| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|
|         BMW|       323i|            19.747|             NULL|   Passenger|           26990.0|        2.5|       170|    107.3| 68.4| 176.0|      3.179|         16.6|             26|    6/28/2011|      71.19120671|
|         BMW|       328i|             9.231|           28.675|   Passenger|           33400.0|        2.8|       193|    107.3| 68.5| 176.0|      3.197|         16.6|             24|    1/29/2012|      81.87706856|
|         BMW|       528i|            17.527|           36.125|   Passenger|           38900.0|        2.8|       193|    111.4| 70.9| 188.0|      3.472|         18.5|             25|     4/4/2011|       83.9987238|
|       Buick|    Century|            91.561|           12.475|   Passenger|           21975.0|        3.1|       175|    109.0| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|
|       Buick|      Regal|             39.35|            13.74|   Passenger|           25300.0|        3.8|       240|    109.0| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|
|       Buick|Park Avenue|            27.851|            20.19|   Passenger|           31965.0|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|
|       Buick|    LeSabre|            83.257|            13.36|   Passenger|           27885.0|        3.8|       205|    112.2| 73.5| 200.0|      3.591|         17.5|             25|    7/23/2011|      84.25452581|
|    Cadillac|    DeVille|            63.729|           22.525|   Passenger|           39895.0|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|
|    Cadillac|    Seville|            15.943|             27.1|   Passenger|           44475.0|        4.6|       275|    112.2| 75.0| 201.0|       NULL|         18.5|             22|    4/29/2011|      115.6213578|
|    Cadillac|   Eldorado|             6.536|           25.725|   Passenger|           39665.0|        4.6|       275|    108.0| 75.5| 200.6|      3.843|         19.0|             22|   11/27/2011|      113.7658739|
|    Cadillac|     Catera|            11.185|           18.225|   Passenger|           31010.0|        3.0|       200|    107.4| 70.3| 194.8|       3.77|         18.0|             22|    9/28/2011|      83.48309358|
|    Cadillac|   Escalade|            14.785|             NULL|         Car|           46225.0|        5.7|       255|    117.5| 77.0| 201.2|      5.572|         30.0|             15|    4/17/2012|      109.5091165|
|   Chevrolet|   Cavalier|           145.519|             9.25|   Passenger|           13260.0|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+
only showing top 20 rows

Add New Column with Constant value for all records

In [20]:
from pyspark.sql.functions import lit
df = df.withColumn("Location",lit("Overland_park,66223"))
df.show()

+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------------+
|Manufacturer|      Model|Sales_in_thousands|year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|           Location|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------------+
|       Acura|    Integra|            16.919|            16.36|   Passenger|           21500.0|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|Overland_park,66223|
|       Acura|         TL|            39.384|           19.875|   Passenger|           28400.0|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|Overland_park,66223|
|       Acura|         CL|            14.114|           18.225|   Passenger|              NULL|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             NULL|Overland_park,66223|
|       Acura|         RL|             8.588|           29.725|   Passenger|           42000.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|Overland_park,66223|
|        Audi|         A4|            20.397|           22.255|   Passenger|           23990.0|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|Overland_park,66223|
|        Audi|         A6|             18.78|           23.555|   Passenger|           33950.0|        2.8|       200|    108.7| 76.1| 192.0|      3.561|         18.5|             22|     8/9/2011|      84.56510502|Overland_park,66223|
|        Audi|         A8|              1.38|             39.0|   Passenger|           62000.0|        4.2|       310|    113.0| 74.0| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|Overland_park,66223|
|         BMW|       323i|            19.747|             NULL|   Passenger|           26990.0|        2.5|       170|    107.3| 68.4| 176.0|      3.179|         16.6|             26|    6/28/2011|      71.19120671|Overland_park,66223|
|         BMW|       328i|             9.231|           28.675|   Passenger|           33400.0|        2.8|       193|    107.3| 68.5| 176.0|      3.197|         16.6|             24|    1/29/2012|      81.87706856|Overland_park,66223|
|         BMW|       528i|            17.527|           36.125|   Passenger|           38900.0|        2.8|       193|    111.4| 70.9| 188.0|      3.472|         18.5|             25|     4/4/2011|       83.9987238|Overland_park,66223|
|       Buick|    Century|            91.561|           12.475|   Passenger|           21975.0|        3.1|       175|    109.0| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|Overland_park,66223|
|       Buick|      Regal|             39.35|            13.74|   Passenger|           25300.0|        3.8|       240|    109.0| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|Overland_park,66223|
|       Buick|Park Avenue|            27.851|            20.19|   Passenger|           31965.0|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|Overland_park,66223|
|       Buick|    LeSabre|            83.257|            13.36|   Passenger|           27885.0|        3.8|       205|    112.2| 73.5| 200.0|      3.591|         17.5|             25|    7/23/2011|      84.25452581|Overland_park,66223|
|    Cadillac|    DeVille|            63.729|           22.525|   Passenger|           39895.0|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|Overland_park,66223|
|    Cadillac|    Seville|            15.943|             27.1|   Passenger|           44475.0|        4.6|       275|    112.2| 75.0| 201.0|       NULL|         18.5|             22|    4/29/2011|      115.6213578|Overland_park,66223|
|    Cadillac|   Eldorado|             6.536|           25.725|   Passenger|           39665.0|        4.6|       275|    108.0| 75.5| 200.6|      3.843|         19.0|             22|   11/27/2011|      113.7658739|Overland_park,66223|
|    Cadillac|     Catera|            11.185|           18.225|   Passenger|           31010.0|        3.0|       200|    107.4| 70.3| 194.8|       3.77|         18.0|             22|    9/28/2011|      83.48309358|Overland_park,66223|
|    Cadillac|   Escalade|            14.785|             NULL|         Car|           46225.0|        5.7|       255|    117.5| 77.0| 201.2|      5.572|         30.0|             15|    4/17/2012|      109.5091165|Overland_park,66223|
|   Chevrolet|   Cavalier|           145.519|             9.25|   Passenger|           13260.0|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|Overland_park,66223|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------------+
only showing top 20 rows

Split a column into multiple columns

In [21]:
from pyspark.sql.functions import split
df = df.withColumn('Place', split(df['Location'], ",").getItem(0))
df = df.withColumn('code', split(df['Location'], ",").getItem(1))
df.show()

+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------------+-------------+-----+
|Manufacturer|      Model|Sales_in_thousands|year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|           Location|        Place| code|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------------+-------------+-----+
|       Acura|    Integra|            16.919|            16.36|   Passenger|           21500.0|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|Overland_park,66223|Overland_park|66223|
|       Acura|         TL|            39.384|           19.875|   Passenger|           28400.0|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|Overland_park,66223|Overland_park|66223|
|       Acura|         CL|            14.114|           18.225|   Passenger|              NULL|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             NULL|Overland_park,66223|Overland_park|66223|
|       Acura|         RL|             8.588|           29.725|   Passenger|           42000.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|Overland_park,66223|Overland_park|66223|
|        Audi|         A4|            20.397|           22.255|   Passenger|           23990.0|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|Overland_park,66223|Overland_park|66223|
|        Audi|         A6|             18.78|           23.555|   Passenger|           33950.0|        2.8|       200|    108.7| 76.1| 192.0|      3.561|         18.5|             22|     8/9/2011|      84.56510502|Overland_park,66223|Overland_park|66223|
|        Audi|         A8|              1.38|             39.0|   Passenger|           62000.0|        4.2|       310|    113.0| 74.0| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|Overland_park,66223|Overland_park|66223|
|         BMW|       323i|            19.747|             NULL|   Passenger|           26990.0|        2.5|       170|    107.3| 68.4| 176.0|      3.179|         16.6|             26|    6/28/2011|      71.19120671|Overland_park,66223|Overland_park|66223|
|         BMW|       328i|             9.231|           28.675|   Passenger|           33400.0|        2.8|       193|    107.3| 68.5| 176.0|      3.197|         16.6|             24|    1/29/2012|      81.87706856|Overland_park,66223|Overland_park|66223|
|         BMW|       528i|            17.527|           36.125|   Passenger|           38900.0|        2.8|       193|    111.4| 70.9| 188.0|      3.472|         18.5|             25|     4/4/2011|       83.9987238|Overland_park,66223|Overland_park|66223|
|       Buick|    Century|            91.561|           12.475|   Passenger|           21975.0|        3.1|       175|    109.0| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|Overland_park,66223|Overland_park|66223|
|       Buick|      Regal|             39.35|            13.74|   Passenger|           25300.0|        3.8|       240|    109.0| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|Overland_park,66223|Overland_park|66223|
|       Buick|Park Avenue|            27.851|            20.19|   Passenger|           31965.0|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|Overland_park,66223|Overland_park|66223|
|       Buick|    LeSabre|            83.257|            13.36|   Passenger|           27885.0|        3.8|       205|    112.2| 73.5| 200.0|      3.591|         17.5|             25|    7/23/2011|      84.25452581|Overland_park,66223|Overland_park|66223|
|    Cadillac|    DeVille|            63.729|           22.525|   Passenger|           39895.0|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|Overland_park,66223|Overland_park|66223|
|    Cadillac|    Seville|            15.943|             27.1|   Passenger|           44475.0|        4.6|       275|    112.2| 75.0| 201.0|       NULL|         18.5|             22|    4/29/2011|      115.6213578|Overland_park,66223|Overland_park|66223|
|    Cadillac|   Eldorado|             6.536|           25.725|   Passenger|           39665.0|        4.6|       275|    108.0| 75.5| 200.6|      3.843|         19.0|             22|   11/27/2011|      113.7658739|Overland_park,66223|Overland_park|66223|
|    Cadillac|     Catera|            11.185|           18.225|   Passenger|           31010.0|        3.0|       200|    107.4| 70.3| 194.8|       3.77|         18.0|             22|    9/28/2011|      83.48309358|Overland_park,66223|Overland_park|66223|
|    Cadillac|   Escalade|            14.785|             NULL|         Car|           46225.0|        5.7|       255|    117.5| 77.0| 201.2|      5.572|         30.0|             15|    4/17/2012|      109.5091165|Overland_park,66223|Overland_park|66223|
|   Chevrolet|   Cavalier|           145.519|             9.25|   Passenger|           13260.0|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|Overland_park,66223|Overland_park|66223|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------------+-------------+-----+
only showing top 20 rows

Drop a column from Dataframe

In [22]:
df = df.drop('Location')
df.show()

+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|Manufacturer|      Model|Sales_in_thousands|year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|        Place| code|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|       Acura|    Integra|            16.919|            16.36|   Passenger|           21500.0|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|Overland_park|66223|
|       Acura|         TL|            39.384|           19.875|   Passenger|           28400.0|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|Overland_park|66223|
|       Acura|         CL|            14.114|           18.225|   Passenger|              NULL|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             NULL|Overland_park|66223|
|       Acura|         RL|             8.588|           29.725|   Passenger|           42000.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|Overland_park|66223|
|        Audi|         A4|            20.397|           22.255|   Passenger|           23990.0|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|Overland_park|66223|
|        Audi|         A6|             18.78|           23.555|   Passenger|           33950.0|        2.8|       200|    108.7| 76.1| 192.0|      3.561|         18.5|             22|     8/9/2011|      84.56510502|Overland_park|66223|
|        Audi|         A8|              1.38|             39.0|   Passenger|           62000.0|        4.2|       310|    113.0| 74.0| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|Overland_park|66223|
|         BMW|       323i|            19.747|             NULL|   Passenger|           26990.0|        2.5|       170|    107.3| 68.4| 176.0|      3.179|         16.6|             26|    6/28/2011|      71.19120671|Overland_park|66223|
|         BMW|       328i|             9.231|           28.675|   Passenger|           33400.0|        2.8|       193|    107.3| 68.5| 176.0|      3.197|         16.6|             24|    1/29/2012|      81.87706856|Overland_park|66223|
|         BMW|       528i|            17.527|           36.125|   Passenger|           38900.0|        2.8|       193|    111.4| 70.9| 188.0|      3.472|         18.5|             25|     4/4/2011|       83.9987238|Overland_park|66223|
|       Buick|    Century|            91.561|           12.475|   Passenger|           21975.0|        3.1|       175|    109.0| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|Overland_park|66223|
|       Buick|      Regal|             39.35|            13.74|   Passenger|           25300.0|        3.8|       240|    109.0| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|Overland_park|66223|
|       Buick|Park Avenue|            27.851|            20.19|   Passenger|           31965.0|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|Overland_park|66223|
|       Buick|    LeSabre|            83.257|            13.36|   Passenger|           27885.0|        3.8|       205|    112.2| 73.5| 200.0|      3.591|         17.5|             25|    7/23/2011|      84.25452581|Overland_park|66223|
|    Cadillac|    DeVille|            63.729|           22.525|   Passenger|           39895.0|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|Overland_park|66223|
|    Cadillac|    Seville|            15.943|             27.1|   Passenger|           44475.0|        4.6|       275|    112.2| 75.0| 201.0|       NULL|         18.5|             22|    4/29/2011|      115.6213578|Overland_park|66223|
|    Cadillac|   Eldorado|             6.536|           25.725|   Passenger|           39665.0|        4.6|       275|    108.0| 75.5| 200.6|      3.843|         19.0|             22|   11/27/2011|      113.7658739|Overland_park|66223|
|    Cadillac|     Catera|            11.185|           18.225|   Passenger|           31010.0|        3.0|       200|    107.4| 70.3| 194.8|       3.77|         18.0|             22|    9/28/2011|      83.48309358|Overland_park|66223|
|    Cadillac|   Escalade|            14.785|             NULL|         Car|           46225.0|        5.7|       255|    117.5| 77.0| 201.2|      5.572|         30.0|             15|    4/17/2012|      109.5091165|Overland_park|66223|
|   Chevrolet|   Cavalier|           145.519|             9.25|   Passenger|           13260.0|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|Overland_park|66223|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
only showing top 20 rows

Filter data based on particular column values

In [24]:
from pyspark.sql.functions import filter
df.filter(df.Horsepower >= "200").show()

+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|Manufacturer|      Model|Sales_in_thousands|year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|        Place| code|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|       Acura|         TL|            39.384|           19.875|   Passenger|           28400.0|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|Overland_park|66223|
|       Acura|         CL|            14.114|           18.225|   Passenger|              NULL|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             NULL|Overland_park|66223|
|       Acura|         RL|             8.588|           29.725|   Passenger|           42000.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|Overland_park|66223|
|        Audi|         A6|             18.78|           23.555|   Passenger|           33950.0|        2.8|       200|    108.7| 76.1| 192.0|      3.561|         18.5|             22|     8/9/2011|      84.56510502|Overland_park|66223|
|        Audi|         A8|              1.38|             39.0|   Passenger|           62000.0|        4.2|       310|    113.0| 74.0| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|Overland_park|66223|
|       Buick|      Regal|             39.35|            13.74|   Passenger|           25300.0|        3.8|       240|    109.0| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|Overland_park|66223|
|       Buick|Park Avenue|            27.851|            20.19|   Passenger|           31965.0|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|Overland_park|66223|
|       Buick|    LeSabre|            83.257|            13.36|   Passenger|           27885.0|        3.8|       205|    112.2| 73.5| 200.0|      3.591|         17.5|             25|    7/23/2011|      84.25452581|Overland_park|66223|
|    Cadillac|    DeVille|            63.729|           22.525|   Passenger|           39895.0|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|Overland_park|66223|
|    Cadillac|    Seville|            15.943|             27.1|   Passenger|           44475.0|        4.6|       275|    112.2| 75.0| 201.0|       NULL|         18.5|             22|    4/29/2011|      115.6213578|Overland_park|66223|
|    Cadillac|   Eldorado|             6.536|           25.725|   Passenger|           39665.0|        4.6|       275|    108.0| 75.5| 200.6|      3.843|         19.0|             22|   11/27/2011|      113.7658739|Overland_park|66223|
|    Cadillac|     Catera|            11.185|           18.225|   Passenger|           31010.0|        3.0|       200|    107.4| 70.3| 194.8|       3.77|         18.0|             22|    9/28/2011|      83.48309358|Overland_park|66223|
|    Cadillac|   Escalade|            14.785|             NULL|         Car|           46225.0|        5.7|       255|    117.5| 77.0| 201.2|      5.572|         30.0|             15|    4/17/2012|      109.5091165|Overland_park|66223|
|   Chevrolet|     Camaro|            26.402|           13.025|   Passenger|           24340.0|        3.8|       200|    101.1| 74.1| 193.2|        3.5|         16.8|             25|   10/23/2011|      81.11854333|Overland_park|66223|
|   Chevrolet|   Corvette|            17.947|           36.225|   Passenger|           45705.0|        5.7|       345|    104.5| 73.6| 179.7|       3.21|         19.1|             22|    5/12/2012|        141.14115|Overland_park|66223|
|    Chrysler|   Concorde|            31.148|           13.725|   Passenger|           22245.0|        2.7|       200|    113.0| 74.4| 209.1|      3.452|         17.0|             26|     6/6/2012|      80.02378204|Overland_park|66223|
|    Chrysler|        LHS|            13.462|           17.325|   Passenger|           28340.0|        3.5|       253|    113.0| 74.4| 207.7|      3.564|         17.0|             23|     5/8/2012|      101.3292807|Overland_park|66223|
|    Chrysler|       300M|            30.696|             NULL|   Passenger|           29185.0|        3.5|       253|    113.0| 74.4| 197.8|      3.567|         17.0|             23|    2/10/2012|      101.6552441|Overland_park|66223|
|       Dodge|   Intrepid|            88.028|           12.275|   Passenger|           22505.0|        2.7|       202|    113.0| 74.7| 203.7|      3.489|         17.0|           NULL|     6/2/2012|      80.83147017|Overland_park|66223|
|       Dodge|      Viper|             0.916|            58.47|   Passenger|           69725.0|        8.0|       450|     96.2| 75.7| 176.7|      3.375|         19.0|             16|     8/7/2011|       188.144323|Overland_park|66223|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
only showing top 20 rows

Display Not Null Values in Data set

In [25]:
from pyspark.sql.functions import *
df.filter(df.Price_in_thousands.isNotNull()).show()

+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|Manufacturer|      Model|Sales_in_thousands|year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|        Place| code|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|       Acura|    Integra|            16.919|            16.36|   Passenger|           21500.0|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|Overland_park|66223|
|       Acura|         TL|            39.384|           19.875|   Passenger|           28400.0|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|Overland_park|66223|
|       Acura|         RL|             8.588|           29.725|   Passenger|           42000.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|Overland_park|66223|
|        Audi|         A4|            20.397|           22.255|   Passenger|           23990.0|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|Overland_park|66223|
|        Audi|         A6|             18.78|           23.555|   Passenger|           33950.0|        2.8|       200|    108.7| 76.1| 192.0|      3.561|         18.5|             22|     8/9/2011|      84.56510502|Overland_park|66223|
|        Audi|         A8|              1.38|             39.0|   Passenger|           62000.0|        4.2|       310|    113.0| 74.0| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|Overland_park|66223|
|         BMW|       323i|            19.747|             NULL|   Passenger|           26990.0|        2.5|       170|    107.3| 68.4| 176.0|      3.179|         16.6|             26|    6/28/2011|      71.19120671|Overland_park|66223|
|         BMW|       328i|             9.231|           28.675|   Passenger|           33400.0|        2.8|       193|    107.3| 68.5| 176.0|      3.197|         16.6|             24|    1/29/2012|      81.87706856|Overland_park|66223|
|         BMW|       528i|            17.527|           36.125|   Passenger|           38900.0|        2.8|       193|    111.4| 70.9| 188.0|      3.472|         18.5|             25|     4/4/2011|       83.9987238|Overland_park|66223|
|       Buick|    Century|            91.561|           12.475|   Passenger|           21975.0|        3.1|       175|    109.0| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|Overland_park|66223|
|       Buick|      Regal|             39.35|            13.74|   Passenger|           25300.0|        3.8|       240|    109.0| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|Overland_park|66223|
|       Buick|Park Avenue|            27.851|            20.19|   Passenger|           31965.0|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|Overland_park|66223|
|       Buick|    LeSabre|            83.257|            13.36|   Passenger|           27885.0|        3.8|       205|    112.2| 73.5| 200.0|      3.591|         17.5|             25|    7/23/2011|      84.25452581|Overland_park|66223|
|    Cadillac|    DeVille|            63.729|           22.525|   Passenger|           39895.0|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|Overland_park|66223|
|    Cadillac|    Seville|            15.943|             27.1|   Passenger|           44475.0|        4.6|       275|    112.2| 75.0| 201.0|       NULL|         18.5|             22|    4/29/2011|      115.6213578|Overland_park|66223|
|    Cadillac|   Eldorado|             6.536|           25.725|   Passenger|           39665.0|        4.6|       275|    108.0| 75.5| 200.6|      3.843|         19.0|             22|   11/27/2011|      113.7658739|Overland_park|66223|
|    Cadillac|     Catera|            11.185|           18.225|   Passenger|           31010.0|        3.0|       200|    107.4| 70.3| 194.8|       3.77|         18.0|             22|    9/28/2011|      83.48309358|Overland_park|66223|
|    Cadillac|   Escalade|            14.785|             NULL|         Car|           46225.0|        5.7|       255|    117.5| 77.0| 201.2|      5.572|         30.0|             15|    4/17/2012|      109.5091165|Overland_park|66223|
|   Chevrolet|   Cavalier|           145.519|             9.25|   Passenger|           13260.0|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|Overland_park|66223|
|   Chevrolet|     Malibu|           135.126|           11.225|   Passenger|           16535.0|        3.1|       170|    107.0| 69.4| 190.4|      3.051|         15.0|             25|    3/19/2012|      67.31446216|Overland_park|66223|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
only showing top 20 rows

Display Null Values in Data set

In [26]:
df.filter(df.Price_in_thousands.isNull()).show()

+------------+--------------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|Manufacturer|         Model|Sales_in_thousands|year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|        Place| code|
+------------+--------------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|       Acura|            CL|            14.114|           18.225|   Passenger|              NULL|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             NULL|Overland_park|66223|
|    Chrysler|Town & Country|             53.48|            19.54|         Car|              NULL|       NULL|      NULL|     NULL| NULL|  NULL|       NULL|         NULL|           NULL|    7/13/2011|             NULL|Overland_park|66223|
+------------+--------------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+

Drop rows containing any null values

In [27]:
df1 = df.na.drop()
df1.count()

117

In [28]:
df.printSchema()

root
 |-- Manufacturer: string (nullable = true)
 |-- Model: string (nullable = true)
 |-- Sales_in_thousands: double (nullable = true)
 |-- year_resale_value: double (nullable = true)
 |-- Vehicle_type: string (nullable = true)
 |-- Price_in_thousands: double (nullable = true)
 |-- Engine_size: double (nullable = true)
 |-- Horsepower: integer (nullable = true)
 |-- Wheelbase: double (nullable = true)
 |-- Width: double (nullable = true)
 |-- Length: double (nullable = true)
 |-- Curb_weight: double (nullable = true)
 |-- Fuel_capacity: double (nullable = true)
 |-- Fuel_efficiency: integer (nullable = true)
 |-- Latest_Launch: string (nullable = true)
 |-- Power_perf_factor: double (nullable = true)
 |-- Place: string (nullable = true)
 |-- code: string (nullable = true)

In [29]:
df.count()

157

Convert Spark Dataframe to Pandas Dataframe

In [30]:
df_pandas = df.toPandas()

DataType of Pandas DataFrame

In [31]:
print(type(df_pandas))

<class 'pandas.core.frame.DataFrame'>

Concat - Combine Two Values

In [32]:
from pyspark.sql.functions import concat

df.select(concat(df.Place, df1.code).alias('Area')).show(5)

+------------------+
|              Area|
+------------------+
|Overland_park66223|
|Overland_park66223|
|Overland_park66223|
|Overland_park66223|
|Overland_park66223|
+------------------+
only showing top 5 rows

Filter data and create new dataframes

In [33]:
from pyspark.sql.functions import col

df1=df.filter(col('Vehicle_type').contains('Passenger')).show()

+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|Manufacturer|      Model|Sales_in_thousands|year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|        Place| code|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|       Acura|    Integra|            16.919|            16.36|   Passenger|           21500.0|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|Overland_park|66223|
|       Acura|         TL|            39.384|           19.875|   Passenger|           28400.0|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|Overland_park|66223|
|       Acura|         CL|            14.114|           18.225|   Passenger|              NULL|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             NULL|Overland_park|66223|
|       Acura|         RL|             8.588|           29.725|   Passenger|           42000.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|Overland_park|66223|
|        Audi|         A4|            20.397|           22.255|   Passenger|           23990.0|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|Overland_park|66223|
|        Audi|         A6|             18.78|           23.555|   Passenger|           33950.0|        2.8|       200|    108.7| 76.1| 192.0|      3.561|         18.5|             22|     8/9/2011|      84.56510502|Overland_park|66223|
|        Audi|         A8|              1.38|             39.0|   Passenger|           62000.0|        4.2|       310|    113.0| 74.0| 198.2|      3.902|         23.7|             21|    2/27/2012|      134.6568582|Overland_park|66223|
|         BMW|       323i|            19.747|             NULL|   Passenger|           26990.0|        2.5|       170|    107.3| 68.4| 176.0|      3.179|         16.6|             26|    6/28/2011|      71.19120671|Overland_park|66223|
|         BMW|       328i|             9.231|           28.675|   Passenger|           33400.0|        2.8|       193|    107.3| 68.5| 176.0|      3.197|         16.6|             24|    1/29/2012|      81.87706856|Overland_park|66223|
|         BMW|       528i|            17.527|           36.125|   Passenger|           38900.0|        2.8|       193|    111.4| 70.9| 188.0|      3.472|         18.5|             25|     4/4/2011|       83.9987238|Overland_park|66223|
|       Buick|    Century|            91.561|           12.475|   Passenger|           21975.0|        3.1|       175|    109.0| 72.7| 194.6|      3.368|         17.5|             25|    11/2/2011|      71.18145132|Overland_park|66223|
|       Buick|      Regal|             39.35|            13.74|   Passenger|           25300.0|        3.8|       240|    109.0| 72.7| 196.2|      3.543|         17.5|             23|     9/3/2011|      95.63670253|Overland_park|66223|
|       Buick|Park Avenue|            27.851|            20.19|   Passenger|           31965.0|        3.8|       205|    113.8| 74.7| 206.8|      3.778|         18.5|             24|    3/23/2012|      85.82840825|Overland_park|66223|
|       Buick|    LeSabre|            83.257|            13.36|   Passenger|           27885.0|        3.8|       205|    112.2| 73.5| 200.0|      3.591|         17.5|             25|    7/23/2011|      84.25452581|Overland_park|66223|
|    Cadillac|    DeVille|            63.729|           22.525|   Passenger|           39895.0|        4.6|       275|    115.3| 74.5| 207.2|      3.978|         18.5|             22|    2/23/2012|      113.8545976|Overland_park|66223|
|    Cadillac|    Seville|            15.943|             27.1|   Passenger|           44475.0|        4.6|       275|    112.2| 75.0| 201.0|       NULL|         18.5|             22|    4/29/2011|      115.6213578|Overland_park|66223|
|    Cadillac|   Eldorado|             6.536|           25.725|   Passenger|           39665.0|        4.6|       275|    108.0| 75.5| 200.6|      3.843|         19.0|             22|   11/27/2011|      113.7658739|Overland_park|66223|
|    Cadillac|     Catera|            11.185|           18.225|   Passenger|           31010.0|        3.0|       200|    107.4| 70.3| 194.8|       3.77|         18.0|             22|    9/28/2011|      83.48309358|Overland_park|66223|
|   Chevrolet|   Cavalier|           145.519|             9.25|   Passenger|           13260.0|        2.2|       115|    104.1| 67.9| 180.9|      2.676|         14.3|             27|    8/17/2011|      46.36334747|Overland_park|66223|
|   Chevrolet|     Malibu|           135.126|           11.225|   Passenger|           16535.0|        3.1|       170|    107.0| 69.4| 190.4|      3.051|         15.0|             25|    3/19/2012|      67.31446216|Overland_park|66223|
+------------+-----------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
only showing top 20 rows

Merge Dataframes - Using UnionByName

In [34]:
df3 = spark.createDataFrame([[1, 2, 3]], ["col1", "col2", "col3"])
df4 = spark.createDataFrame([[4, 5, 6]], ["col2", "col3", "col1"])

In [35]:
df5= df3.unionByName(df4).show()

+----+----+----+
|col1|col2|col3|
+----+----+----+
|   1|   2|   3|
|   6|   4|   5|
+----+----+----+

Write Output to File

In [36]:
# Write & Save File in .csv format
df6 = df.select("Manufacturer", "Model", "Sales_in_thousands", "Vehicle_type","Horsepower")
df6.coalesce(1).write.csv('output')

Convert dataframe to SQL table

In [37]:
df.createOrReplaceTempView("Car_sales")
spark.sql("select * from Car_sales").show(5)

+------------+-------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|Manufacturer|  Model|Sales_in_thousands|year_resale_value|Vehicle_type|Price_in_thousands|Engine_size|Horsepower|Wheelbase|Width|Length|Curb_weight|Fuel_capacity|Fuel_efficiency|Latest_Launch|Power_perf_factor|        Place| code|
+------------+-------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
|       Acura|Integra|            16.919|            16.36|   Passenger|           21500.0|        1.8|       140|    101.2| 67.3| 172.4|      2.639|         13.2|             28|     2/2/2012|      58.28014952|Overland_park|66223|
|       Acura|     TL|            39.384|           19.875|   Passenger|           28400.0|        3.2|       225|    108.1| 70.3| 192.9|      3.517|         17.2|             25|     6/3/2011|      91.37077766|Overland_park|66223|
|       Acura|     CL|            14.114|           18.225|   Passenger|              NULL|        3.2|       225|    106.9| 70.6| 192.0|       3.47|         17.2|             26|     1/4/2012|             NULL|Overland_park|66223|
|       Acura|     RL|             8.588|           29.725|   Passenger|           42000.0|        3.5|       210|    114.6| 71.4| 196.6|       3.85|         18.0|             22|    3/10/2011|      91.38977933|Overland_park|66223|
|        Audi|     A4|            20.397|           22.255|   Passenger|           23990.0|        1.8|       150|    102.6| 68.2| 178.0|      2.998|         16.4|             27|    10/8/2011|       62.7776392|Overland_park|66223|
+------------+-------+------------------+-----------------+------------+------------------+-----------+----------+---------+-----+------+-----------+-------------+---------------+-------------+-----------------+-------------+-----+
only showing top 5 rows

Stop Spark Instance Created When Done

In [38]:
spark.stop