---
# **Section A: GOOGLE COLAB SETUP**
---

## **Start Google Colabs - Import Drive**

In [1]:
from google.colab import drive

## **Find Present Working Directory**

In [3]:
pwd

'/content'

## ***Find content of Present Working Directory***

In [4]:
ls -l

total 4
drwxr-xr-x 1 root root 4096 Oct 31 13:22 sample_data/

---
## **Section B: PYSPARK INSTALLATION**
---

## ***Install PySpark***

In [5]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=edd3046aa223d3e1d7f624eb286c0081653c65db6c3d6c07919cb8146fbe2c57
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

## ***Import Spark Session***

In [6]:
from pyspark.sql import SparkSession

---
## **Section C: DATA ANALYSIS USING PYSPARK - CARS DATA**
---

## ***Create Spark Session***

In [7]:
spark = SparkSession.builder.appName("spark3").getOrCreate()

## ***Check if Spark Session Created Successfully***

In [8]:
spark

 ## ***Downloading Dataset directly from Web to Colab ***

In [10]:
project = spark.read.csv('/content/project-t20.csv',sep=',', inferSchema = True, header=True)

## ***Display Schema***

In [11]:
project.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Span: string (nullable = true)
 |-- Mat: integer (nullable = true)
 |-- Inns: string (nullable = true)
 |-- NO: string (nullable = true)
 |-- Runs: string (nullable = true)
 |-- HS: string (nullable = true)
 |-- Ave: string (nullable = true)
 |-- BF: string (nullable = true)
 |-- SR: string (nullable = true)
 |-- 100: string (nullable = true)
 |-- 50: string (nullable = true)
 |-- 0: string (nullable = true)
 |-- 4s: string (nullable = true)
 |-- 6s: string (nullable = true)
 |-- Unnamed: 15: string (nullable = true)

## ***Display Columns***

In [13]:
project.columns

['_c0',
 'Player',
 'Span',
 'Mat',
 'Inns',
 'NO',
 'Runs',
 'HS',
 'Ave',
 'BF',
 'SR',
 '100',
 '50',
 '0',
 '4s',
 '6s',
 'Unnamed: 15']

## ***Display Data Types***

In [14]:
project.dtypes

[('_c0', 'int'),
 ('Player', 'string'),
 ('Span', 'string'),
 ('Mat', 'int'),
 ('Inns', 'string'),
 ('NO', 'string'),
 ('Runs', 'string'),
 ('HS', 'string'),
 ('Ave', 'string'),
 ('BF', 'string'),
 ('SR', 'string'),
 ('100', 'string'),
 ('50', 'string'),
 ('0', 'string'),
 ('4s', 'string'),
 ('6s', 'string'),
 ('Unnamed: 15', 'string')]

## ***Spark SQL - Register Temporary Table - cars***

In [15]:
project.createOrReplaceTempView("t20")

## ***Spark SQL - Select sample data from cars table***

In [16]:
spark.sql("select * from t20 limit 5").show()

+---+--------------------+---------+---+----+---+----+---+-----+----+------+---+---+---+---+---+-----------+
|_c0|              Player|     Span|Mat|Inns| NO|Runs| HS|  Ave|  BF|    SR|100| 50|  0| 4s| 6s|Unnamed: 15|
+---+--------------------+---------+---+----+---+----+---+-----+----+------+---+---+---+---+---+-----------+
|  0|     V Kohli (INDIA)|2010-2019| 75|  70| 20|2633|94*|52.66|1907|138.07|  0| 24|  2|247| 71|       NULL|
|  1|   RG Sharma (INDIA)|2007-2019|104|  96| 14|2633|118| 32.1|1905|138.21|  4| 19|  6|234|120|       NULL|
|  2|     MJ Guptill (NZ)|2009-2019| 83|  80|  7|2436|105|33.36|1810|134.58|  2| 15|  2|215|113|       NULL|
|  3|Shoaib Malik (ICC...|2006-2019|111| 104| 30|2263| 75|30.58|1824|124.06|  0|  7|  1|186| 61|       NULL|
|  4|    BB McCullum (NZ)|2005-2015| 71|  70| 10|2140|123|35.66|1571|136.21|  2| 13|  3|199| 91|       NULL|
+---+--------------------+---------+---+----+---+----+---+-----+----+------+---+---+---+---+---+-----------+

## ***Spark SQL - Select count from cars table***

In [17]:
spark.sql("select count(*) as total_count from t20").show()

+-----------+
|total_count|
+-----------+
|       2006|
+-----------+

## ***Display Sample Rows from data file***

In [18]:
project.show(10)

+---+--------------------+---------+---+----+---+----+----+-----+----+------+---+---+---+---+---+-----------+
|_c0|              Player|     Span|Mat|Inns| NO|Runs|  HS|  Ave|  BF|    SR|100| 50|  0| 4s| 6s|Unnamed: 15|
+---+--------------------+---------+---+----+---+----+----+-----+----+------+---+---+---+---+---+-----------+
|  0|     V Kohli (INDIA)|2010-2019| 75|  70| 20|2633| 94*|52.66|1907|138.07|  0| 24|  2|247| 71|       NULL|
|  1|   RG Sharma (INDIA)|2007-2019|104|  96| 14|2633| 118| 32.1|1905|138.21|  4| 19|  6|234|120|       NULL|
|  2|     MJ Guptill (NZ)|2009-2019| 83|  80|  7|2436| 105|33.36|1810|134.58|  2| 15|  2|215|113|       NULL|
|  3|Shoaib Malik (ICC...|2006-2019|111| 104| 30|2263|  75|30.58|1824|124.06|  0|  7|  1|186| 61|       NULL|
|  4|    BB McCullum (NZ)|2005-2015| 71|  70| 10|2140| 123|35.66|1571|136.21|  2| 13|  3|199| 91|       NULL|
|  5|     DA Warner (AUS)|2009-2019| 76|  76|  8|2079|100*|30.57|1476|140.85|  1| 15|  5|203| 86|       NULL|
|  6|    EJG Morgan (ENG)|2009-2019| 86|  84| 17|2002|  91|29.88|1475|135.72|  0| 11|  3|151| 96|       NULL|
|  7|Mohammad Shahzad ...|2010-2018| 65|  65|  3|1936|118*|31.22|1436|134.81|  1| 12|  3|218| 72|       NULL|
|  8|      JP Duminy (SA)|2007-2019| 81|  75| 25|1934| 96*|38.68|1532|126.24|  0| 11|  6|138| 71|       NULL|
|  9|   PR Stirling (IRE)|2009-2019| 72|  71|  6|1929|  91|29.67|1401|137.68|  0| 16|  8|233| 59|       NULL|
+---+--------------------+---------+---+----+---+----+----+-----+----+------+---+---+---+---+---+-----------+
only showing top 10 rows

## ***Count total number of records in data file***

In [19]:
project.count()

2006

## ***Get Record Count by Origin***

In [23]:
project.groupBy("100").count().show()

+---+-----+
|100|count|
+---+-----+
|  3|    2|
|  0| 1812|
|  -|  152|
|  1|   33|
|  4|    1|
|  2|    6|
+---+-----+

## ***Filter data and create new dataframes***

## ***New dataframe - For US***

In [25]:
project_Span= project.filter((project.Span == "2010-2019"))

## ***Display Sample Rows from US dataframe***

In [27]:
project_Span.show(10)

+---+--------------------+---------+---+----+---+----+----+-----+----+------+---+---+---+---+---+-----------+
|_c0|              Player|     Span|Mat|Inns| NO|Runs|  HS|  Ave|  BF|    SR|100| 50|  0| 4s| 6s|Unnamed: 15|
+---+--------------------+---------+---+----+---+----+----+-----+----+------+---+---+---+---+---+-----------+
|  0|     V Kohli (INDIA)|2010-2019| 75|  70| 20|2633| 94*|52.66|1907|138.07|  0| 24|  2|247| 71|       NULL|
| 38| Mohammad Nabi (AFG)|2010-2019| 75|  70| 11|1316|  89| 22.3| 902|145.89|  0|  4|  4| 83| 78|       NULL|
| 39|DA Miller (SA/World)|2010-2019| 72|  62| 18|1309|101*|29.75| 935| 140.0|  1|  2|  0| 91| 57|       NULL|
| 48|NLTC Perera (ICC/...|2010-2019| 79|  70| 21|1169|  61|23.85| 767|152.41|  0|  3|  8| 87| 62|       NULL|
| 49| Asghar Afghan (AFG)|2010-2019| 66|  60|  4|1167|  62|20.83|1102|105.89|  0|  3|  4| 69| 58|       NULL|
| 11|Samiullah Shinwar...|2010-2019| 62|  55| 10| 985|  61|21.88| 829|118.81|  0|  2|  2| 73| 37|       NULL|
| 24|Sarfaraz Ahmed (PAK)|2010-2019| 58|  41| 12| 812| 89*| 28.0| 641|126.67|  0|  3|  2| 79| 15|       NULL|
| 13|     SPD Smith (AUS)|2010-2019| 36|  28|  7| 577|  90|27.47| 448|128.79|  0|  4|  1| 53| 12|       NULL|
| 30|   Shafiqullah (AFG)|2010-2019| 46|  42| 12| 494| 51*|16.46| 340|145.29|  0|  1|  5| 35| 31|       NULL|
| 45|     CR Ervine (ZIM)|2010-2019| 22|  21|  1| 461| 68*|23.05| 454|101.54|  0|  3|  1| 43| 13|       NULL|
+---+--------------------+---------+---+----+---+----+----+-----+----+------+---+---+---+---+---+-----------+
only showing top 10 rows

## ***Display Record count from US dataframe***

In [28]:
project_Span.count()

16

## ***New dataframe - For Europe***

In [29]:
project_span05_15 = project.filter((project.Span == "2005-2015"))

## ***Display Sample Rows from Europe dataframe***

In [30]:
project_span05_15.show(10)

+---+----------------+---------+---+----+---+----+---+-----+----+------+---+---+---+---+---+-----------+
|_c0|          Player|     Span|Mat|Inns| NO|Runs| HS|  Ave|  BF|    SR|100| 50|  0| 4s| 6s|Unnamed: 15|
+---+----------------+---------+---+----+---+----+---+-----+----+------+---+---+---+---+---+-----------+
|  4|BB McCullum (NZ)|2005-2015| 71|  70| 10|2140|123|35.66|1571|136.21|  2| 13|  3|199| 91|       NULL|
| 15|  JA Morkel (SA)|2005-2015| 50|  38| 11| 572| 43|21.18| 402|142.28|  0|  0|  1| 29| 39|       NULL|
+---+----------------+---------+---+----+---+----+---+-----+----+------+---+---+---+---+---+-----------+

## ***Display Record count from Europe dataframe***

In [31]:
project_span05_15.count()

2

## ***Merge Dataframes - Using Union***
CASE 1: Union When columns are in order

In [32]:
project_new = ( project_Span.union(project_span05_15))

## ***Display Record count after merging 3 dataframes***

In [33]:
project_new.count()

18

## ***Display Record count of original dataframe - cars.csv***

In [34]:
project.count()

2006

## ***Merge Dataframes - Using UnionByName***
CASE 2: Union When columns are NOT in order

## ***Display list of columns - before removal***

In [38]:
project.columns

['_c0',
 'Player',
 'Span',
 'Mat',
 'Inns',
 'NO',
 'Runs',
 'HS',
 'Ave',
 'SR',
 '100',
 '50',
 '0',
 '4s',
 '6s',
 'Unnamed: 15']

## ***Removing one Column***

In [37]:
project = project.drop('BF')

## ***Removing multiple Columns***

In [41]:
project1 = project.drop('Runs').drop('SR')

## ***Display list of columns - after removal***

In [42]:
project1.columns

['_c0',
 'Player',
 'Span',
 'Mat',
 'Inns',
 'NO',
 'HS',
 'Ave',
 '100',
 '50',
 '0',
 '4s',
 '6s',
 'Unnamed: 15']

---
## **Section D: DATA ANALYSIS USING PYSPARK SQL - TABLE JOINS**
---

## ***Create Employee Data***

In [50]:
project_odi = spark.read.csv('/content/ODI data.csv',sep=',', inferSchema = True, header=True)

## ***PySpark - FULL Join Employee and Department Data***

In [51]:
project_odi.join(project, (project_odi["100"] == project["100"])).show()

+---+----------------+---------+---+----+---+----+----+-----+----+-----+---+---+---+-----------+---+-----------------+---------+---+----+---+----+----+-----+------+---+---+---+---+---+-----------+
|_c0|          Player|     Span|Mat|Inns| NO|Runs|  HS|  Ave|  BF|   SR|100| 50|  0|Unnamed: 13|_c0|           Player|     Span|Mat|Inns| NO|Runs|  HS|  Ave|    SR|100| 50|  0| 4s| 6s|Unnamed: 15|
+---+----------------+---------+---+----+---+----+----+-----+----+-----+---+---+---+-----------+---+-----------------+---------+---+----+---+----+----+-----+------+---+---+---+---+---+-----------+
| 33|  SR Waugh (AUS)|1986-2002|325| 288| 58|7569|120*| 32.9|9971|75.91|  3| 45| 15|       NULL| 25|     C Munro (NZ)|2012-2019| 60|  57|  7|1546|109*|30.92|160.04|  3|  9|  5|114|100|       NULL|
| 33|  SR Waugh (AUS)|1986-2002|325| 288| 58|7569|120*| 32.9|9971|75.91|  3| 45| 15|       NULL| 23| GJ Maxwell (AUS)|2012-2019| 61|  54|  9|1576|145*|35.02| 160.0|  3|  7|  1|133| 81|       NULL|
| 35|A Ranatunga (SL)|1982-1999|269| 255| 47|7456|131*|35.84|9571| 77.9|  4| 49| 18|       NULL|  1|RG Sharma (INDIA)|2007-2019|104|  96| 14|2633| 118| 32.1|138.21|  4| 19|  6|234|120|       NULL|
| 46|  A Flower (ZIM)|1992-2003|213| 208| 16|6786| 145|35.34|9097|74.59|  4| 55| 13|       NULL|  1|RG Sharma (INDIA)|2007-2019|104|  96| 14|2633| 118| 32.1|138.21|  4| 19|  6|234|120|       NULL|
|  2| AR Border (AUS)|1979-1994|273| 252| 39|6524|127*|30.62|9134|71.42|  3| 39| 11|       NULL| 25|     C Munro (NZ)|2012-2019| 60|  57|  7|1546|109*|30.92|160.04|  3|  9|  5|114|100|       NULL|
|  2| AR Border (AUS)|1979-1994|273| 252| 39|6524|127*|30.62|9134|71.42|  3| 39| 11|       NULL| 23| GJ Maxwell (AUS)|2012-2019| 61|  54|  9|1576|145*|35.02| 160.0|  3|  7|  1|133| 81|       NULL|
| 12|  JN Rhodes (SA)|1992-2003|245| 220| 51|5935| 121|35.11|7336| 80.9|  2| 33| 12|       NULL| 21|     E Lewis (WI)|2016-2019| 29|  28|  1| 833|125*|30.85|153.12|  2|  5|  3| 54| 67|       NULL|
| 12|  JN Rhodes (SA)|1992-2003|245| 220| 51|5935| 121|35.11|7336| 80.9|  2| 33| 12|       NULL|  1| KL Rahul (INDIA)|2016-2019| 34|  31|  5|1138|110*|43.76|146.46|  2|  8|  1|102| 50|       NULL|
| 12|  JN Rhodes (SA)|1992-2003|245| 220| 51|5935| 121|35.11|7336| 80.9|  2| 33| 12|       NULL| 18|    CH Gayle (WI)|2006-2019| 58|  54|  4|1627| 117|32.54|142.84|  2| 13|  3|138|105|       NULL|
| 12|  JN Rhodes (SA)|1992-2003|245| 220| 51|5935| 121|35.11|7336| 80.9|  2| 33| 12|       NULL| 12|   AJ Finch (AUS)|2011-2019| 58|  58|  9|1878| 172|38.32| 156.5|  2| 11|  4|182| 90|       NULL|
| 12|  JN Rhodes (SA)|1992-2003|245| 220| 51|5935| 121|35.11|7336| 80.9|  2| 33| 12|       NULL|  4| BB McCullum (NZ)|2005-2015| 71|  70| 10|2140| 123|35.66|136.21|  2| 13|  3|199| 91|       NULL|
| 12|  JN Rhodes (SA)|1992-2003|245| 220| 51|5935| 121|35.11|7336| 80.9|  2| 33| 12|       NULL|  2|  MJ Guptill (NZ)|2009-2019| 83|  80|  7|2436| 105|33.36|134.58|  2| 15|  2|215|113|       NULL|
| 15| AD Mathews (SL)|2008-2019|214| 184| 48|5812|139*|42.73|6974|83.33|  3| 40| 15|       NULL| 25|     C Munro (NZ)|2012-2019| 60|  57|  7|1546|109*|30.92|160.04|  3|  9|  5|114|100|       NULL|
| 15| AD Mathews (SL)|2008-2019|214| 184| 48|5812|139*|42.73|6974|83.33|  3| 40| 15|       NULL| 23| GJ Maxwell (AUS)|2012-2019| 61|  54|  9|1576|145*|35.02| 160.0|  3|  7|  1|133| 81|       NULL|
| 22|  WJ Cronje (SA)|1992-2000|188| 175| 31|5565| 112|38.64|7277|76.47|  2| 39|  8|       NULL| 21|     E Lewis (WI)|2016-2019| 29|  28|  1| 833|125*|30.85|153.12|  2|  5|  3| 54| 67|       NULL|
| 22|  WJ Cronje (SA)|1992-2000|188| 175| 31|5565| 112|38.64|7277|76.47|  2| 39|  8|       NULL|  1| KL Rahul (INDIA)|2016-2019| 34|  31|  5|1138|110*|43.76|146.46|  2|  8|  1|102| 50|       NULL|
| 22|  WJ Cronje (SA)|1992-2000|188| 175| 31|5565| 112|38.64|7277|76.47|  2| 39|  8|       NULL| 18|    CH Gayle (WI)|2006-2019| 58|  54|  4|1627| 117|32.54|142.84|  2| 13|  3|138|105|       NULL|
| 22|  WJ Cronje (SA)|1992-2000|188| 175| 31|5565| 112|38.64|7277|76.47|  2| 39|  8|       NULL| 12|   AJ Finch (AUS)|2011-2019| 58|  58|  9|1878| 172|38.32| 156.5|  2| 11|  4|182| 90|       NULL|
| 22|  WJ Cronje (SA)|1992-2000|188| 175| 31|5565| 112|38.64|7277|76.47|  2| 39|  8|       NULL|  4| BB McCullum (NZ)|2005-2015| 71|  70| 10|2140| 123|35.66|136.21|  2| 13|  3|199| 91|       NULL|
| 22|  WJ Cronje (SA)|1992-2000|188| 175| 31|5565| 112|38.64|7277|76.47|  2| 39|  8|       NULL|  2|  MJ Guptill (NZ)|2009-2019| 83|  80|  7|2436| 105|33.36|134.58|  2| 15|  2|215|113|       NULL|
+---+----------------+---------+---+----+---+----+----+-----+----+-----+---+---+---+-----------+---+-----------------+---------+---+----+---+----+----+-----+------+---+---+---+---+---+-----------+
only showing top 20 rows

## ***PySpark - LEFT Join Department and Employee Data***

In [52]:
project_leftjoin = project_odi.join(project, on=[project_odi.Player==project.Player], how='left')

In [53]:
project_leftjoin.show()

+---+--------------------+---------+---+----+---+-----+----+-----+-----+------+---+---+---+-----------+----+--------------------+---------+----+----+----+----+----+-----+------+----+----+----+----+----+-----------+
|_c0|              Player|     Span|Mat|Inns| NO| Runs|  HS|  Ave|   BF|    SR|100| 50|  0|Unnamed: 13| _c0|              Player|     Span| Mat|Inns|  NO|Runs|  HS|  Ave|    SR| 100|  50|   0|  4s|  6s|Unnamed: 15|
+---+--------------------+---------+---+----+---+-----+----+-----+-----+------+---+---+---+-----------+----+--------------------+---------+----+----+----+----+----+-----+------+----+----+----+----+----+-----------+
|  0|SR Tendulkar (INDIA)|1989-2012|463| 452| 41|18426|200*|44.83|21367| 86.23| 49| 96| 20|       NULL|  31|SR Tendulkar (INDIA)|2006-2006|   1|   1|   0|  10|  10|10.00| 83.33|   0|   0|   0|   2|   0|       NULL|
|  1|KC Sangakkara (As...|2000-2015|404| 380| 41|14234| 169|41.98|18048| 78.86| 25| 93| 15|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
|  2|RT Ponting (AUS/ICC)|1995-2012|375| 365| 39|13704| 164|42.03|17046| 80.39| 30| 82| 20|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
|  3|ST Jayasuriya (As...|1989-2011|445| 433| 18|13430| 189|32.36|14725|  91.2| 28| 68| 34|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
|  4|DPMD Jayawardene ...|1998-2015|448| 418| 39|12650| 144|33.37|16020| 78.96| 19| 77| 28|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
|  5|Inzamam-ul-Haq (A...|1991-2007|378| 350| 53|11739|137*|39.52|15812| 74.24| 10| 83| 20|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
|  6|     V Kohli (INDIA)|2008-2019|242| 233| 39|11609| 183|59.84|12445| 93.28| 43| 55| 13|       NULL|   0|     V Kohli (INDIA)|2010-2019|  75|  70|  20|2633| 94*|52.66|138.07|   0|  24|   2| 247|  71|       NULL|
|  7|JH Kallis (Afr/IC...|1996-2014|328| 314| 53|11579| 139|44.36|15885| 72.89| 17| 86| 17|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
|  8|SC Ganguly (Asia/...|1992-2007|311| 300| 23|11363| 183|41.02|15416|  73.7| 22| 72| 16|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
|  9|R Dravid (Asia/IC...|1996-2011|344| 318| 40|10889| 153|39.16|15284| 71.24| 12| 83| 13|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
| 10|MS Dhoni (Asia/IN...|2004-2019|350| 297| 84|10773|183*|50.57|12303| 87.56| 10| 73| 10|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
| 11|   CH Gayle (ICC/WI)|1999-2019|301| 294| 17|10480| 215|37.83|12019| 87.19| 25| 54| 25|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
| 12|    BC Lara (ICC/WI)|1990-2007|299| 289| 32|10405| 169|40.48|13086| 79.51| 19| 63| 16|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
| 13|     TM Dilshan (SL)|1999-2016|330| 303| 41|10290|161*|39.27|11933| 86.23| 22| 47| 11|       NULL|  11|     TM Dilshan (SL)|2006-2016|  80|  79|  12|1889|104*|28.19|120.54|   1|  13|  10| 223|  33|       NULL|
| 14|Mohammad Yousuf (...|1998-2010|288| 273| 40| 9720|141*|41.71|12942|  75.1| 15| 64| 15|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
| 15|AC Gilchrist (AUS...|1996-2008|287| 279| 11| 9619| 172|35.89| 9922| 96.94| 16| 55| 19|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
| 16|AB de Villiers (A...|2005-2018|228| 218| 39| 9577| 176| 53.5| 9473|101.09| 25| 53|  7|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
| 17|M Azharuddin (INDIA)|1985-2000|334| 308| 54| 9378|153*|36.92|12669| 74.02|  7| 58|  9|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
| 18|    PA de Silva (SL)|1984-2003|308| 296| 30| 9284| 145| 34.9|11443| 81.13| 11| 64| 17|       NULL|NULL|                NULL|     NULL|NULL|NULL|NULL|NULL|NULL| NULL|  NULL|NULL|NULL|NULL|NULL|NULL|       NULL|
| 19|   RG Sharma (INDIA)|2007-2019|221| 214| 32| 8944| 264|49.14|10063| 88.88| 28| 43| 13|       NULL|   1|   RG Sharma (INDIA)|2007-2019| 104|  96|  14|2633| 118| 32.1|138.21|   4|  19|   6| 234| 120|       NULL|
+---+--------------------+---------+---+----+---+-----+----+-----+-----+------+---+---+---+-----------+----+--------------------+---------+----+----+----+----+----+-----+------+----+----+----+----+----+-----------+
only showing top 20 rows

## ***Spark SQL - Join Employee and Department Data***

## **Create tables**

In [55]:
project.createOrReplaceTempView("t20")
project_odi.createOrReplaceTempView("odi")

## **FULL Join tables**

In [56]:
spark.sql("SELECT * FROM t20 t, odi o where t.player == o.player").show()

+---+--------------------+---------+---+----+---+----+----+-----+------+---+---+---+---+---+-----------+---+--------------------+---------+---+----+---+-----+----+-----+-----+-----+---+---+---+-----------+
|_c0|              Player|     Span|Mat|Inns| NO|Runs|  HS|  Ave|    SR|100| 50|  0| 4s| 6s|Unnamed: 15|_c0|              Player|     Span|Mat|Inns| NO| Runs|  HS|  Ave|   BF|   SR|100| 50|  0|Unnamed: 13|
+---+--------------------+---------+---+----+---+----+----+-----+------+---+---+---+---+---+-----------+---+--------------------+---------+---+----+---+-----+----+-----+-----+-----+---+---+---+-----------+
| 31|SR Tendulkar (INDIA)|2006-2006|  1|   1|  0|  10|  10|10.00| 83.33|  0|  0|  0|  2|  0|       NULL|  0|SR Tendulkar (INDIA)|1989-2012|463| 452| 41|18426|200*|44.83|21367|86.23| 49| 96| 20|       NULL|
|  0|     V Kohli (INDIA)|2010-2019| 75|  70| 20|2633| 94*|52.66|138.07|  0| 24|  2|247| 71|       NULL|  6|     V Kohli (INDIA)|2008-2019|242| 233| 39|11609| 183|59.84|12445|93.28| 43| 55| 13|       NULL|
| 11|     TM Dilshan (SL)|2006-2016| 80|  79| 12|1889|104*|28.19|120.54|  1| 13| 10|223| 33|       NULL| 13|     TM Dilshan (SL)|1999-2016|330| 303| 41|10290|161*|39.27|11933|86.23| 22| 47| 11|       NULL|
|  1|   RG Sharma (INDIA)|2007-2019|104|  96| 14|2633| 118| 32.1|138.21|  4| 19|  6|234|120|       NULL| 19|   RG Sharma (INDIA)|2007-2019|221| 214| 32| 8944| 264|49.14|10063|88.88| 28| 43| 13|       NULL|
|  0|  S Chanderpaul (WI)|2006-2010| 22|  22|  5| 343|  41|20.17| 98.84|  0|  0|  0| 34|  5|       NULL| 21|  S Chanderpaul (WI)|1994-2011|268| 251| 40| 8778| 150| 41.6|12408|70.74| 11| 59|  6|       NULL|
|  8|    MS Atapattu (SL)|2006-2006|  2|   1|  0|   5|   5| 5.00|  62.5|  0|  0|  0|  0|  0|       NULL| 24|    MS Atapattu (SL)|1990-2007|268| 259| 32| 8529|132*|37.57|12594|67.72| 11| 59| 13|       NULL|
| 13|    LRPL Taylor (NZ)|2006-2019| 95|  87| 19|1743|  63|25.63|121.88|  0|  5|  5|110| 65|       NULL| 26|    LRPL Taylor (NZ)|2006-2019|228| 212| 37| 8376|181*|47.86|10091| 83.0| 20| 50|  9|       NULL|
| 23|       HH Gibbs (SA)|2005-2010| 23|  23|  1| 400| 90*|18.18|125.78|  0|  3|  4| 45| 12|       NULL| 29|       HH Gibbs (SA)|1996-2010|248| 240| 16| 8094| 175|36.13| 9721|83.26| 21| 37| 22|       NULL|
| 31|     MJ Clarke (AUS)|2005-2010| 34|  28|  5| 488|  67|21.21|103.17|  0|  1|  2| 29| 10|       NULL| 32|     MJ Clarke (AUS)|2003-2015|245| 223| 44| 7981| 130|44.58|10104|78.98|  8| 58| 10|       NULL|
|  5|   Younis Khan (PAK)|2006-2010| 25|  23|  3| 442|  51| 22.1|121.42|  0|  2|  2| 31| 12|       NULL| 38|   Younis Khan (PAK)|2000-2015|265| 255| 23| 7249| 144|31.24| 9628|75.29|  7| 48| 22|       NULL|
| 49|       NJ Astle (NZ)|2005-2006|  4|   4|  1|  74| 40*|24.66|110.44|  0|  0|  0|  7|  2|       NULL| 40|       NJ Astle (NZ)|1995-2007|223| 217| 14| 7090|145*|34.92| 9760|72.64| 16| 41| 19|       NULL|
|  2|     MJ Guptill (NZ)|2009-2019| 83|  80|  7|2436| 105|33.36|134.58|  2| 15|  2|215|113|       NULL| 48|     MJ Guptill (NZ)|2009-2019|179| 176| 19| 6626|237*| 42.2| 7586|87.34| 16| 35| 15|       NULL|
| 10|Mohammad Hafeez (...|2006-2018| 89|  86|  8|1908|  86|24.46|116.12|  0| 10|  6|196| 51|       NULL| 49|Mohammad Hafeez (...|2003-2019|218| 216| 15| 6614|140*| 32.9| 8633|76.61| 11| 38| 19|       NULL|
| 24|Shakib Al Hasan (...|2006-2019| 76|  76| 10|1567|  84|23.74|123.77|  0|  9|  5|163| 33|       NULL|  3|Shakib Al Hasan (...|2006-2019|206| 194| 27| 6323|134*|37.86| 7641|82.75|  9| 47| 10|       NULL|
| 23|    BRM Taylor (ZIM)|2006-2019| 38|  38|  5| 818| 75*|24.78|120.64|  0|  5|  5| 81| 23|       NULL|  4|    BRM Taylor (ZIM)|2004-2019|193| 192| 15| 6293|145*|35.55| 8256|76.22| 10| 38| 15|       NULL|
| 26|  KS Williamson (NZ)|2011-2019| 57|  55|  7|1505| 73*|31.35|121.76|  0|  9|  2|158| 26|       NULL|  7|  KS Williamson (NZ)|2010-2019|149| 142| 14| 6132| 148| 47.9| 7494|81.82| 13| 39|  5|       NULL|
| 41|Mushfiqur Rahim (...|2006-2019| 84|  76| 13|1265| 72*|20.07|119.33|  0|  5|  5|110| 31|       NULL|  8|Mushfiqur Rahim (...|2006-2019|216| 202| 34| 6100| 144| 36.3| 7718|79.03|  7| 37| 10|       NULL|
|  4|    BB McCullum (NZ)|2005-2015| 71|  70| 10|2140| 123|35.66|136.21|  2| 13|  3|199| 91|       NULL|  9|    BB McCullum (NZ)|2002-2016|260| 228| 28| 6083| 166|30.41| 6312|96.37|  5| 32| 20|       NULL|
| 18|       JE Root (ENG)|2012-2019| 32|  30|  5| 893| 90*|35.72| 126.3|  0|  5|  2| 92| 16|       NULL| 13|       JE Root (ENG)|2013-2019|143| 135| 21| 5856|133*|51.36| 6702|87.37| 16| 33|  4|       NULL|
|  5|     AD Mathews (SL)|2009-2018| 72|  57| 18|1055| 81*|27.05|118.14|  0|  5|  1| 67| 35|       NULL| 15|     AD Mathews (SL)|2008-2019|214| 184| 48| 5812|139*|42.73| 6974|83.33|  3| 40| 15|       NULL|
+---+--------------------+---------+---+----+---+----+----+-----+------+---+---+---+---+---+-----------+---+--------------------+---------+---+----+---+-----+----+-----+-----+-----+---+---+---+-----------+
only showing top 20 rows

## ***Spark SQL - LEFT Join Department and Employee Data***

In [65]:
leftjoin = spark.sql("SELECT t._c0,t.player,o.Span,t.Span, t.runs,t.HS,o.Mat,o.HS FROM t20 t LEFT OUTER JOIN odi o ON t.Span == o.span").show()

+---+-----------------+---------+---------+----+---+---+----+
|_c0|           player|     Span|     Span|runs| HS|Mat|  HS|
+---+-----------------+---------+---------+----+---+---+----+
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*|  9|   6|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*| 27| 16*|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*| 59| 24*|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*| 85| 52*|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*| 31|  64|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*| 87| 62*|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*| 58|  72|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*| 32|137*|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*| 44|  81|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*| 64|145*|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*| 93|130*|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*|126| 139|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*|127|139*|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*|146| 111|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*|118| 164|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*|133| 143|
|  0|  V Kohli (INDIA)|2010-2019|2010-2019|2633|94*|149| 148|
|  1|RG Sharma (INDIA)|2007-2019|2007-2019|2633|118| 73| 18*|
|  1|RG Sharma (INDIA)|2007-2019|2007-2019|2633|118| 21|  35|
|  1|RG Sharma (INDIA)|2007-2019|2007-2019|2633|118|105| 113|
+---+-----------------+---------+---------+----+---+---+----+
only showing top 20 rows

## ***Stop Spark Instance Created When Done***

In [67]:
spark.stop